.flow{
  padding: 0 0.45rem;
  .title{
    font-size: 0.24rem;
    color: #272727;
    padding: 0.4rem 0.2rem 0.3rem;
  }
  img{
    width: 6.6rem;
    height: auto;
  }
}
.condition{
  padding: 0 0.64rem 0.5rem;
  background-color: #F0F0F0;
  margin-top: 0.67rem;
  .title{
    font-size: 0.24rem;
    color: #272727;
    padding: 0.36rem 0 0.12rem;
  }
  ul{
    list-style: none;
    line-height: 0.5rem;
  }
}
.league{
  padding-bottom: 0.6rem;
  .submit{
    width: 2.2rem;
    margin: 0.6rem auto 0;
  }
}