<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
  <link rel="stylesheet" href="/common/common.min.css">
  <style>
    .template-footer {
      background: #444444;
      color: #fff;
      font-size: 0.18rem;
    }

    .template-footer .wrap {
      padding: 0.5rem 0.85rem 0;
    }

    .template-footer .info-group div {
      padding-bottom: 0.27rem;
    }

    .template-footer .erweima {
      width: 1.3rem;
      height: 1.3rem;
    }

    .template-footer .icp {
      color: #656565;
    }

    .template-footer .btn {
      height: 1rem;
      background: #5CB632;
      font-size: 0.32rem;
    }
  </style>
</head>

<body>
  <div class="template-footer">
    <div class="wrap">
      <div class="flex-between">
        <div class="info-group">
          <div>电话：XXXXXXXXXX</div>
          <div>传真：XXXXXXXXXX</div>
          <div>邮箱：XXXXXXXXXX</div>
        </div>
        <img class="erweima" src="/static/erweima.png" alt="二维码">
      </div>
      <div class="info-group">
        <div>地址：河南省郑州市郑东新区祥盛街8号附1号福晟国际2号楼19层190号</div>
        <div class="icp">中原安佑房地产经纪服务有限公司 | 网络经营许可证 豫ICP备18000765号</div>
      </div>
    </div>
    <div class="btn flex-center">
      咨询我们
    </div>
  </div>
</body>

</html>